*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.all {

}
.start {

}
.logomeni{
   width: 1920px;
height: 100px;
display: flex;
justify-content: space-between;
}
.logo {

}
.meni {
   width: 537px;

   height: 18px;
   border: 1px solid black;

}
:hover .meni{
   
   color: #F83718;

}
.meni a{
      margin:0 0 0  30px;
      color: black;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
}
.ru {

}
.en {

}
.inf {
width: 1920px;
height: 610px; 
top: 100px;
background-color: #F83718;

}
.filmit {
width: 544px;
height: 180px;
border: 1px solid black;
font-weight: 700;
color: #FFFFFF;
font-size: 50px;
}
.filmai {
   font-weight: 400;
  font-size: 18px;;
   color: #FFFFFF;
   width: 468px;
height: 192px;

border: 1px solid black;

}
.inf div{

}